/forse da cancellare/Gestione studente/nbproject/private/
/Programmi Java/JavaApplication6/nbproject/private/
/Programmi Java/JavaApplication6/build/
/Programmi Java/Provincia-Regione/nbproject/private/
/Programmi Java/Provincia-Regione/build/
/Programmi Java/Biblioteca/nbproject/private/
/Programmi Java/Biblioteca/build/
/Programmi Java/calciatore/nbproject/private/
/Programmi Java/calciatore portiere/nbproject/private/
/Programmi Java/portiere calciatore/nbproject/private/
/Programmi Java/portiere calciatore/build/
/Programmi Java/portierecalciatore/nbproject/private/
/Programmi Java/FilaA/nbproject/private/
/Programmi Java/Ciclista/nbproject/private/
/Programmi Java/Ciclista/build/
/Programmi Java/Ciclista_1/nbproject/private/
/Programmi Java/Ciclista_1/build/
