body{
    background-color: bisque;
}
#logo{
    width: 200;
    border-radius: 300px;

}
#icon_button{
    width: 30;
    height: 30;
}
button{
    border-radius: 10px;
}
#title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40;
}
#msg{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20;
}
#piatto{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
form{
    display: inline-block;
}

#piatti{
    max-width: 100%;
    width: 200;
}